<nav>
    <div class="logo">
        <a href="/">
            <img src="/imatges/logo.png">
        </a>
    </div>
    <ul class="menu">
        <li><a href="/">Inici</a></li>
        <li><a href="/movies">Pel·lícules</a></li>
        <li><a href="/customers">Clients</a></li>
    </ul>
</nav>