<nav>
    <div class="logo">
        <a href="/">
            <img src="/public/imatges/logo.png">
        </a>
    </div>
    <ul class="menu">
        <a href="/">Inici</a>
        <a href="/movies">Pelicules</a>
        <a href="/customers">Clients</a>
    </ul>
</nav>