<!DOCTYPE html>
<html lang="ca">
<head>
    {{> header}}
    <title>Customers</title>
</head>
<body>
    {{> menu}}
    
    <main>
        <h1>Top 25 Clients</h1>
        <div class="contenedor-clientes">
            {{#each customers}}
            <section class="tarjeta-cliente">
                <div class="cliente-info">
                    <h2>{{first_name}}</h2>
                    <p>{{email}}</p>
                </div>
                <div class="cliente-detalles">
                    <h3>Últims Alquilers</h3>
                    <p class="lista-alquileres">{{rental_data}}</p>
                </div>
            </section>
            {{/each}}
        </div>
    </main>

    {{> footer}}
</body>
</html>