<!DOCTYPE html>
<html lang="ca">
<head>
    {{> header}}
    <title>Home</title>
</head>
<body>
    {{> menu}}
    
    <main>
        <h1>Home</h1>
        <section>
            <h2>Pelicules</h2>
            <div>
                {{#each movies}}
                <img src="/public/imatges/">
                <div>
                    <h3>{{title}}</h3>
                    <p>{{relase_year}}</p>
                    <p><strong>Actors</strong>: {{actors}}</p>
                </div>
                {{/each}}
            </div>
        </section>
        <section>
            <h2>Categories</h2>
            <ul>
                {{#each categorys}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </section>
    </main>

    {{> footer}}
</body>
</html>