/* Generico */
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace, serif;
    background-color: #0b0b0b;
    color: #e0e0e0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    border-bottom: 3px solid #b8860b;
    padding: 10px 40px;
}

.logo img {
    height: 90px;
    width: auto;
    display: block;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.menu a {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s;
}

.menu a:hover {
    color: #b8860b;
}

main {
    padding: 30px 50px;
}

h1, h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    color: #b8860b;
    text-transform: uppercase;
}


/* index.hbs */


/* movies.hbs */


/* customers.hbs */

